body
{
    background-color: antiquewhite;
}

#K-Kartka,#KL-Kartka-PM
{
    border: 1px solid black;
    width: 300px;
}

.KL-Kartka
{
    border: 1px solid black;
    width: 40px;
    height: 20px;
    text-align: center;
}