body
{
    background-color: mistyrose;
}



div.baner
{
    height: 25px;
    font-size: 20px;
    background-color: blue;
    color: white;

}

span.przycisk
{
    float: right;
    margin-right: 2%;
}

div.tekst
{
    height: 150;
}

div#dlugitekst.tekstON 
{
    color: black;
    background-color: aqua;
    height: 150px;
    overflow:scroll;
}

div#dlugitekst.tekstOFF
{
    display: none;
}

div#dlugitekst1.tekstON 
{
    color: black;
    background-color: orange;
    height: 150px;
    overflow:scroll;
}

div#dlugitekst1.tekstOFF
{
    display: none;
}

#baner1
{
    height: 25px;
    font-size: 20px;
    background-color: blueviolet;
}